<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <title>Trang chủ | Đồng hồ cao cấp</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--//theme-style-->
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <script src="~/Scripts/jquery-1.12.3.min.js"></script>
    <!--Bootstrap JS-->
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <link href="~/Content/memenu.css" rel="stylesheet" media="all" type="text/css" />
    <script src="~/Scripts/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!--dropdown-->
    <script src="~/Scripts/jquery.easydropdown.js"></script>

    <style>
        .top-header-main * {
            color: #fff;
        }

        .top-header-left a:hover {
            color: #fff;
        }

        .top-header-left-content {
            padding: 10px;
        }

            .top-header-left-content div {
                margin-right: 20px;
            }

        #total_cart {
            margin-right: 5px;
        }

        .information .infor-left h3 {
            font-weight: bold;
        }

        .information {
            background-color: #f2f2f2;
            padding-top: 30px;
        }
    </style>
</head>
<body>
    <!--top-header-->
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-6 top-header-left">
                    <div class="top-header-left-content" style="color:#fff;">
                        <a href="/Dangnhap">Đăng nhập</a> | <a href="/Dangky">Đăng ký</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 top-header-right">
                    <div class="top-header-right-content">
                        <a href="/" style="display:inline-block;float:right;">
                            <img class="pull-right" src="/images/cart-1.png" alt="" />
                            <div id="total_cart" class="pull-right">
                                <span>0</span>
                            </div>
                            <br />
                            <div class="pull-right">Sản phẩm</div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--top-header-->
    <!--start-logo-->
    <div class="logo">
        <a href="/"><h1>Luxury Watches</h1></a>
    </div>
    <!--start-logo-->
    <!--bottom-header-->
    @RenderPage("_Navigation.cshtml")
    <!--bottom-header-->
    @RenderBody()
    <!--information-starts-->
    <div class="information">
        <div class="container">
            <div class="infor-top">
                <div class="col-md-3 infor-left">
                    <h3>Mạng xã hội</h3>
                    <ul>
                        <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                        <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                        <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Thông tin</h3>
                    <ul>
                        <li><a href="#"><p>Chương trình khuyến mại</p></a></li>
                        <li><a href="#"><p>Hướng dẫn và mẹo sử dụng</p></a></li>
                        <li><a href="#"><p>Điều kiện bảo hành</p></a></li>
                        <li><a href="contact.html"><p>Liên hệ</p></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Tài khoản người dùng</h3>
                    <ul>
                        <li><a href="/Dangnhap"><p>Đăng nhập</p></a></li>
                        <li><a href="/Dangky"><p>Đăng ký</p></a></li>
                        <li><a href="#"><p>Thông tin tài khoản</p></a></li>
                        <li><a href="#"><p>Lịch sử mua hàng</p></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Thông tin cửa hàng</h3>
                    <h4>
                        Luxury Watches shop,
                        <span>236 Hoàng Quốc Việt,</span>
                        Cầu Giấy, Hà Nội
                    </h4>
                    <h5>+955 123 4567</h5>
                    <p><a href="mailto:example@email.com">contact@example.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--information-end-->
    <!--footer-starts-->
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-6 footer-left">
                    <p>© April 2016, Luxury Watches | Create by  <a href="/" target="_blank">DzungHT</a> </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--footer-end-->
</body>
</html>