@model IEnumerable<WebDongHo.DbContext.Hinhanh>

@foreach (var img in Model)
{
    <div class="col-md-6">
        <div class="thumbnail">
            <img style="width:auto; height:305px;" src="@img.Url" alt="Hình ảnh cho @img.Sanpham.Ten">
            <div class="caption" style="text-align:center;">
                <button class="btn btn-primary btnDelete" id="img_@img.HinhanhID">Delete</button>
            </div>
        </div>
    </div>
}



<script>
    $(".btnDelete").click(function () {
        var imgID = $(this).attr("id").split('_')[1];
        var ok = confirm("Bạn có chắc muốn xóa ảnh này?");
        if (ok) {
            $.ajax({
                method: "POST",
                url: "/admin/hinhanhs/delete",
                data: {
                    id: imgID,
                },
                success: function (data) {
                    $('#list-image').html(data);
                },
                error: function () {
                    alert("That bai.");
                }
            })
        }
    });
</script>


@if (ViewBag.IsSuccess != null)
{
    if (ViewBag.IsSuccess)
    {
        <script>
            alert("Thêm ảnh thành công!");
        </script>
    }
    else
    {
        <script>
            alert("Thêm ảnh thất bại!");
        </script>
    }
}

@if (ViewBag.Deleted != null)
{
    if (ViewBag.Deleted)
    {
        <script>
            alert("Xóa ảnh thành công!");
        </script>
    }
    else
    {
        <script>
            alert("Xóa ảnh thất bại!");
        </script>
    }
}